<div class="container">
  <div class="row">
    <h3 class="text-center"><strong>Change Of Employment</strong></h3>
    <div class="col-lg-8 col-md-offset-2">
      
      <div class="well">
        <%= form_for @change do |f| %>
        
        <% @team_array = [ ['Administration Department (301810)'], ['Arthrex (301233)'], [ 'Finance Department (301820)'], [ 'Flexibles (301250)'], [ 'Hologic (301260)'], [ 'Human Resources (301840)'], [ 'IT Department (301850)'], [ 'Maintenance (301919)'], [ 'Materials (301110)'], [ 'Process Engineering (301350)'], [ 'Production Overhead (301310)'], [ 'Production Services (301290)'], [ 'Quality Department (301340)'], [ 'Sales & Marketing (301720)'], [ 'Shipping (301740)'], [ 'SNE New (301221)'], [ 'SNE Team 2 (301222)'], [ 'Stryker Team 1 (301211)'], [ 'Stryker Team 2 (301212)'], [ 'Stryker Team 3 (301231)'], [ 'Thermohauser (680680)'], [ 'Thermohauser (700700)'], [ 'Vet. Syringe (301730)'], [ 'Vetline (301240)'] ] %>
        <% @position_array = [ ['Accounting & Customer Service Support'], ['Accounting Manager'], ['Buyer/ Planner'], ['CNC Programmer-Tool & Fix Coord'], ['Couplers'], ['Customer Service Supervisor'], ['Data Entry'], ['Deputy'], ['Deputy- Finalist'], ['Deputy- Stockroom'], ['Director of Finance And Controlling'], ['Director of Production'], ['Director Of Quality, ASQ CQE & CMQ/OE'], ['Director Of Sales & Customer Service'], ['Disassembler/Allocator'], ['Engineering Intern'], ['Engineering Manager'], ['Eval'], ['Evaluation Assistant Coordinator'], ['Final QC Inspector'], ['Finalist'], ['Human Resources Coordinator'], ['Human Resources Generalist'], ['Human Resources Manager'], ['Inner Tubes'], ['Inner Tubes Coordinator'], ['Inner Tubes/Final'], ['IT Manager'], ['IT Support Specialist'], ['Janitor'], ['Lead Design Engineer'], ['Logistics Flow Team Member'], ['Machinist Intern'], ['Maintenance Manager & Safety Officer'], ['Maintenance Technician'], ['Maintenance Technician/Facilities'], ['Mechanical Designer'], ['OT Coordinator'], ['Outer Tubes'], ['Process Development Tech/Trainer TL'], ['Process Development Technician'], ['Production Scheduler & Metrics Analyst'], ['Quality Assurance Coordinator'], ['Quality Control Coordinator'], ['Quality Technician'], ['Receptionist'], ['Salvage'], ['Senior Assembly Technician'], ['Stockroom Clerk'], ['Team Deputy- Logistics Flow'], ['Team Leader'], ['Teamleader- Finalist'], ['Teamleader- Logistics Flow'], ['Teamleader- Salvage'], ['Teamleader- Stockroom Clerk'], ['Teamleader- Welding'], ['Tool Crib Attendant'], ['Tooling & Fixtures Maintenance Tech'], ['Vice President Of Operations'], ['VP of Sales'], ['Welder'] ] %>
        
          <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
              <%= f.label :dateToday, "Today's Date" %>
              <%= f.date_field :dateToday, class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :dateCOE, "Date of COE" %>
              <%= f.date_field :dateCOE, class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :ADP, "ADP" %>
              <%= f.text_field :ADP, class: 'form-control'  %>
          </div>
          
          <div class="form-group">
              <%= f.label :typeCOE, "Type of COE" %>
              <%= f.select :typeCOE, ['New Hire', 'Transfer', 'Termination'], include_blank: true, class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :fromTeam, "From Team" %>
              <%= f.select :fromTeam, @team_array, include_blank: true, class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :fromPos, "From Position" %>
              <%= f.select :fromPos, @position_array, include_blank: true, class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :toTeam, "To Team" %>
              <%= f.select :toTeam, @team_array, include_blank: true, class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :toPos, "To Position" %>
              <%= f.select :toPos, @position_array, include_blank: true, class: 'form-control'  %>
          </div>
          <div class="form-group">
              <%= f.label :teamLead, "Team Lead" %>
              <%= f.text_field :teamLead, class: 'form-control'  %>
          </div>
          <div class="form-group well">
              <%= f.label :access, "Access Needed" %>
              <br>
              <%= f.check_box :activedirectoy %>
              <%= f.label :activedirectoy, "PC Log On" %>
              &ensp;
              <%= f.check_box :email %>
              <%= f.label :email, "Email Access" %>
              &ensp;
              <%= f.check_box :SAPaccess %>
              <%= f.label :SAPaccess, "SAP Access" %>
              &ensp;
              <%= f.check_box :toolsfixtures %>
              <%= f.label :toolsfixtures, "Tools and Fixtures" %>
          </div>
          <div class="form-group well">
            <%= f.label :equipment, "Equipment Needed" %>
            <br>
            <div class=" checkbox-well wrap">
              <div class="checkbox">
              <%= f.check_box :desktop %>
              <%= f.label :desktop, "Desktop" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :Laptop %>
              <%= f.label :Laptop, "Laptop" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :deskphone %>
              <%= f.label :deskphone, "Desk Phone" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :cellphone %>
              <%= f.label :cellphone, "Cell Phone" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :scanner %>
              <%= f.label :scanner, "Scanner" %>
              </div>
            </div>
          </div>
          <!-- Insert HR Checklist boxes here -->
          <div class="form-group well">
            <%= f.label :HRChecklist, "HR Checklist", class: 'strong' %>
            <br>
            <div class=" checkbox-well wrap">
              <div class="checkbox">
              <%= f.check_box :empStatusEmail %>
              <%= f.label :empStatusEmail, "Employment Status Email" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :tlList %>
              <%= f.label :tlList, "TL List" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :ADPComplete %>
              <%= f.label :ADPComplete, "ADP" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :ITticket %>
              <%= f.label :ITticket, "IT Ticket submitted" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :employeeFile %>
              <%= f.label :employeeFile, "Employee File Created" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :bonus %>
              <%= f.label :bonus, "Bonus" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :drugTestRCVD %>
              <%= f.label :drugTestRCVD, "Drug Test RCVD" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :review %>
              <%= f.label :review, "Review" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :retire401k %>
              <%= f.label :retire401k, "401K Paperwork" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :ultraBen %>
              <%= f.label :ultraBen, "Ultra Ben" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :hsaBank %>
              <%= f.label :hsaBank, "HSA Bank" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :lincoln  %>
              <%= f.label :lincoln, "Lincoln" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :colonialLife %>
              <%= f.label :colonialLife, "Colonial Life" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :ncsRCVD %>
              <%= f.label :ncsRCVD, "NCS RCVD" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :sapSubmit %>
              <%= f.label :sapSubmit, "SAP App Submitted" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :empContact %>
              <%= f.label :empContact, "Employee Contact Info" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :taxForm %>
              <%= f.label :taxForm, "Tax Info" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :vehicleInfo %>
              <%= f.label :vehicleInfo, "Vehicle Info" %>
              </div>
              <div class="checkbox">
              <%= f.check_box:eeo1Form %>
              <%= f.label :eeo1Form, "EEO-1 Form" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :disability %>
              <%= f.label :disability, "Disability Self ID" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :aap %>
              <%= f.label :aap, "AAP" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :labCoat %>
              <%= f.label :labCoat, "Lab Coat Assigned" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :locker %>
              <%= f.label :locker, "Locker Assigned" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :trainingPapers %>
              <%= f.label :trainingPapers, "Training Papers" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :emergencyList %>
              <%= f.label :emergencyList, "Emergency Contact List" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :doorSystem %>
              <%= f.label :doorSystem, "Door System" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :badge %>
              <%= f.label :badge, "ID Badge Printed" %>
              </div>
              <div class="checkbox">
              <%= f.check_box :traineeLog %>
              <%= f.label :traineeLog, "Trainee Log" %>
              </div>
            </div>
          </div>
          
          <!-- Completed By -->
          <div class="form-group">
              <%= f.label :completedBy, "Completed By:" %>
              <%= f.text_field :completedBy, class: 'form-control'  %>
          </div>
      
          <%= f.submit 'Submit', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>